<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/template_head::head('editAccount')">

</head>
<body>
<header th:replace="common/template_menu::header">
</header>

<div id="Content">
    <div id="Catalog">
        <form action="/account/confirmEdit" method="post">

            <h3>User Information</h3>

            <table>
                <tr>
                    <td>User ID:</td>
                    <td th:text="${session.account?.username}" th:value="${session.account?.username}" name="username">${sessionScope.account.username}</td>
                </tr>
                <tr>
                    <td>New password:</td>
                    <td><input type="password" name="password" /></td>
                </tr>
                <tr>
                    <td>Repeat password:</td>
                    <td><input type="password" name="repeatedPassword" /></td>
                    <td><font color="red" th:text="${message?:''}">${requestScope.message}</td>
                </tr>
            </table>

            <table th:replace="account/includeAccountFields::accountTable"></table>
            <h3 th:replace="account/includeAccountFields::h3"></h3>
            <table th:replace="account/includeAccountFields::profileTable"></table>

            <input type="submit" name="editAccount" value="Save Account Information" />

        </form>
        <a href="/order/checkOrder">My Orders</a>
    </div>
</div>

<footer th:replace="common/template_menu::footer">
</footer>
</body>
</html>